.commits-left {
    float: left;
    width: 40%;
    padding: 10px;
    overflow-y: scroll;
    overflow-x: scroll;
    height: 100%;
}

.commits-left::-webkit-scrollbar { 
    display: none;
}

.commits-right {
    overflow: auto;
}

.commits-code-diffs {
    display: inline-block;
    position: absolute;
    top: 4.4em;
    margin-right: 1.3em;
    min-width: 55.5%;
}

.expanded {
    min-width: 94.85%;
}