.commits-tab {
    width: 100%;
    height: 100%;
}

.commits-left {
    float: left;
    width: 40%;
    padding: 10px;
    overflow-y: scroll;
    overflow-x: scroll;
    height: 50em;
}

.commits-left::-webkit-scrollbar { 
    display: none;
}

.commits-right {
    overflow: auto;
}

.commits-code-diffs {
    display: inline-block;
    position: absolute;
    top: 4.4em;
    right: 1.3em;
    width: 56.6%;
}

.expanded {
    width: 95.5%;
}