.commits-score {
    color: black;
    display: inline-block;
    padding: 0em 0.4em 0em 0.5em;
}

.commits-total {
    color: black;
    display: inline-block;
    padding: 0em 4em 0em 0.5em;
}

.mrs-total {
    color: black;
    display: inline-block;
    padding: 0em 0.4em 0em 0.5em;
}

.mrs-score {
    color: black;
    display: inline-block;
    padding: 0.2em 0.4em 0.3em 0.4em;
}

.student-scores {
    display: inline-block;
    align-items: center;
    padding-right: 3em;
}

.clip-board-button {
    margin-top: 1.0em;
    margin-bottom: 1.0em;
}