body {
    overflow: hidden;
}

.profile-page {
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    background-color: #acbed8;
    color: #ffffff;
    padding: 75px 350px;
    margin: 0;
    overflow: auto;
}

.spinner {
    position: absolute;
    right: 50%;
    top: 50%;
}