.merge-request {
    cursor: pointer;
}

.merge-request-list-container {
    font-family: 'Roboto', sans-serif;
    background-color: #acbed8;
    color: #ffffff;
    height: 100%;
    text-align: center;
}

.merge-request-list-container:after {
    content: "";
    display: table;
    clear: both;
}

.mrTitle {
    background-color: rgb(227, 226, 226);
    text-align: center;
}

.lines-added {
    color: green;
}

.lines-removed {
    color: red;
}

.mr-headers th {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 2;
    background-color: #fff;
}

.tooltip .tooltip-inner {
    max-width: 100%; 
}

thead th.default {
    cursor: pointer;
}
  
thead th.ascending {
    cursor: pointer;
}
  
thead th.descending {
    cursor: pointer;
}
  
thead th.ascending::after {
    content: '↑';
    display: inline-block;
}
  
thead th.descending::after {
    content: '↓';
    display: inline-block;
}