.diffs-title-button {
    background-color: rgb(227, 226, 226);
    color: black;
    border-color: rgb(227, 226, 226);
}

.button-container {
    float: right;
    padding: 0.2em 0.2em 0.2em 0.2em;
}

.button-container > * {
    margin: 0.2em 0.2em 0.2em 0.2em;
}

.view-button {
    min-width: 7.2em;
    background-color: #4C4975 !important;
    border-color: #4C4975 !important;
}

.expand-colapse {
    background-color: #4C4975 !important;
    border-color: #4C4975 !important;
}

.code-diff-list {
    width: 100%;
    height: 43em;
    float: left;
    overflow-y: scroll;
}

.code-diff-list::-webkit-scrollbar {
    display: none;
}