* {
    margin: 0;
    padding: 0;
    box-sizing: boder-box;
    font-family: 'Roboto', sans-serif;
}

.login-page {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #acbed8;
}