.navbar {
    background-color: #4C4975;
    font-family: 'Roboto', sans-serif;
}

.navbar-brand {
    color: #ffffff;
}

.navbar-brand:hover {
    color: #AFA4E0;
}

.nav-link {
    color: #ffffff;
}

.nav-link:hover {
    color: #AFA4E0;
}