.commits-list-container {
    height: 100%;
    position: relative;
    overflow-y: scroll;
    overflow-x: scroll;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

.commits-list-container::-webkit-scrollbar { 
    display: none;
}

.commitTitle{
    background-color: rgb(227, 226, 226);
    text-align: center;
}

.commit {
    cursor: pointer;
}

.lines-added {
    color: green;
}

.lines-removed {
    color: red;
}

.commits-headers th {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 2;
    background-color: #fff;
}