.tab-container {
    background-color: #acbed8;
    font-family: 'Roboto', sans-serif;
    height: 100%;
}

.tab-content {
    height: 100%;
}

.nav-tabs .nav-link.active {
    color: white;
    background-color: #454d55;
    border-color: #dee2e6 #dee2e6 #fff;
}

.nav-link:hover {
    color: rgb(9, 133, 40);
}
