.comment-row td {
    text-align: middle !important;
}

td.is-own {
    width: 10em;
}

td.creation-date {
    width: 10em;
}

td.title {
    width: 10em;
}

td.comment-description {
    width: 25em;
}

td.word-count {
    width: 9em;
}

.tooltip {
    width: 50%;
}

.comment-long {
    background-color: #f8f9fa;
}