
.custom-modal {
    font-family: 'Roboto', sans-serif;
}

.modal-content {
    /* background-color: #acbed8; */
    background-color: white;
}

.modal-header{
    margin: 10px 30px;
}

.repo-modal-body {
    font-size: 18px;
    padding: 20px;
}

.spinner {
    margin: 60px;
}

.configuration {
    align-items: center;
    margin: 20px;
}

.students {
    align-items: center;
    margin: 20px;
}

.mapping {
    align-items: center;
    margin: 20px;
    max-height: 70%;
    top: 10%;
    bottom: 10%;
    right: 10%;
    left: 10%;
    overflow-x: scroll;
    padding: 0px 0px;
    scrollbar-width: none; 
}

.sticky-column {
    position: sticky;
    left: 0;
    top: 0;
    z-index: 1;
    background-color: white;
  }

.sticky-title {
    top: 0;
    text-align: center;
    position: sticky;
    z-index: 1;
    background-color: white;
  }

.dropdown-toggle {
    background-color: #747474;
    border-color: white;
}

.dropdown-toggle:focus {
    background-color: #747474;
    border-color: white;
    box-shadow: none;
}

.dropdown-toggle:hover {
    background-color: #636363;
    border-color: white;
}