.merge-request-tab {
    width: 100%;
}
.mrs-left {
    float: left;
    width: 40%;
    padding: 10px;
    overflow-y: scroll;
    overflow-x: scroll;
    height: 100%;
}

.mrs-left::-webkit-scrollbar { 
    display: none;
}

.mrs-right {
    overflow: auto;
}

.mr-code-diffs {
    display: inline-block;
    position: absolute;
    top: 4.4em;
    right: 1.3em;
    width: 55.5%;
}

.expanded {
    width: 94.85%;
}

.mrs-top {
    max-height: 25em;
    overflow-y: scroll;
}

.mrs-top::-webkit-scrollbar { 
    display: none;
}

.mrs-bottom {
    position: relative;
    margin-top: 5em;
    height: 23.3em;
    overflow-y: scroll;
}

.mrs-bottom::-webkit-scrollbar { 
    display: none;
}

.expand-button {
    margin-top: 20em;

    margin-left: 0.5em;
    margin-right: 0.5em;
    width: 3em;
    height: 3em;
    padding: 6px 0px;
    border-radius: 1.5em;
    text-align: center;
}