.merge-request-tab {
    width: 100%;
}
.mrs-left {
    float: left;
    width: 40%;
    padding: 10px 0 10px 0;
    overflow-y: scroll;
    overflow-x: scroll;
    height: 100%;
}

.mrs-left::-webkit-scrollbar { 
    display: none;
}

.mrs-right {
    overflow: auto;
}

.mr-code-diffs {
    display: inline-block;
    position: absolute;
    top: 4.4em;
    right: 1.3em;
    width: 56.6%;
}

.expanded {
    width: 95.5%;
}

.mrs-top {
    max-height: 25em;
    overflow-y: scroll;
}

.mrs-top::-webkit-scrollbar { 
    display: none;
}

.mrs-bottom {
    position: relative;
    margin-top: 0.5em;
    height: 22.7em;
    overflow-y: scroll;
}

.mrs-bottom::-webkit-scrollbar { 
    display: none;
}

.expand-button {
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0.3em;
    margin-right: 0.3em;
    width: 2em;
    height: 2em;
    padding: 4px 2px;
    border-radius: 50%;
    font-weight: bold;
    text-align: center;
}

.expand-button:focus {
    outline-style: none;
    border: 0;
}