.profile-title {
    background-color: #747474;
    text-align: center;
    padding: 10px 20px;
    border-radius: 3px;
}

.profile-form {
    margin-top: 10px;
}

label {
    margin-top: 0.5rem;
    margin-bottom: 0;
}