.profile-title {
  background-color: #4C4975;
  text-align: center;
  padding: 10px 20px;
  border-radius: 3px;
  font-size: large;
}

.profile-form {
  margin-top: 10px;
  font-size: large;
}

label {
  margin-top: 0.5rem;
  margin-bottom: 0;
  font-size: large;
}

/* Adapted from https://www.w3schools.com/howto/howto_js_snackbar.asp */
#profile-snackbar {
  font-size: large;
  visibility: hidden;
  margin: 10px 0px;
}

#profile-snackbar.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}