.custom-modal {
    font-family: 'Roboto', sans-serif;
    min-width: 80%;
}

.modal-content {
    background-color: #AFA4E0;
}

.modal-header{
    margin: 10px 30px;
}

.repo-modal-body {
    font-size: 18px;
    padding: 20px;
}

.spinner {
    margin: 60px;
}

.configuration {
    align-items: center;
    margin: 20px;
}

.dates {
    align-items: center;
    margin: 20px;
}

.students {
    align-items: center;
    margin: 20px;
}

.dropdown-toggle {
    background-color: #747474;
    border-color: white;
}

.dropdown-toggle:focus {
    background-color: #747474;
    border-color: white;
    box-shadow: none;
}

.dropdown-toggle:hover {
    background-color: #636363;
    border-color: white;
}

.error-message {
    color: red;
    margin: 0 35px;
}