.configFileScore{
    text-align: center;
}

.ConfigContainer{
    padding: 0px 0px;
    width: 90%;
    top: 10%;
    bottom: 10%;
    right: 10%;
    left: 10%;
}

.ConfigTitle{
    background-color: rgb(227, 226, 226);
    text-align: center;
}

.ConfigTable{
    background-color: white;
}