.graph {
    height: 100%;
    width: 100%;
}

.graph-switch {
    float: right;
    margin-top: 1.6em;
    margin-right: 1em;
    z-index: 1;
}

.google-visualization-tooltip {
    z-index:-1000;
}

.btn-group-toggle .btn:not(:disabled):not(.disabled).active, .btn-group-toggle .btn:not(:disabled):not(.disabled):active {
    color: #fff;
    background-color: #AFA4E0;
    border-color: #AFA4E0;
}

.btn-group-toggle .btn {
    color: #fff;
    background-color: #7770A3;
    border-color: #7770A3;
  }