.analysis-page {
    background-color: #acbed8;
    height: 100vh;
    padding-left: 0.8em;
    padding-right: 0.4em;
}

.spinner {
    color: #fff;
}

.analysis-header {
    position: absolute;
    right: 0.7em;
    z-index: 2;
}