.about-page {
    color: #000000;
    background-color: #acbed8;
    height: 100vh;
    overflow: auto;
}

.main-header {
    color: #000000;
    text-align: center;
    font-style: italic;
    padding-top: 15px;
    width: 60%;
    margin: auto;
}

.column {
    float: left;
    width: 50%;
    padding: 40px;
  }