.about-page {
    color: #000000;
    background-color: #AFA4E0;
    height: 100vh;
    overflow: auto;
}

.main-header {
    color: #000000;
    text-align: center;
    font-style: italic;
    padding-top: 15px;
    width: 60%;
    margin: auto;
    padding-bottom: 1rem;
}

.get-started {
    text-align: center;
    padding-top: 15px;
    width: 60%;
    margin: auto;
    padding-bottom: 1rem;
}

.get-started-list {
    text-align: left;
    width: 23%;
    margin: auto;
}

.column {
    float: left;
    width: 50%;
    text-align: left;
  }

.profile-links {
    font-size: 2rem;
}

.team-table {
    text-align: center;
}

h8 {
    font-size: 1.1rem;
    font-weight: 500;
    padding: 40px;
}

.main-header-demo {
    text-align: center;
    padding-top: 40px;
    width: 60%;
    margin: auto;
    padding-bottom: 1rem;
}

.empty {
    size: 100em;
    height: 100px;
    width: 100pc;
}

.about-us {
    text-align: center;
    padding-top: 15px;
    width: 80%;
    margin: auto;
}

.profile-links a {
    color: black;
}

.copy-rights {
    text-align: center;
}