.comments-left {
    float: left;
    width: 50%;
    padding: 0 5px;
    overflow-y: scroll;
    overflow-x: scroll;
    max-height: 51em;
}

.comments-left::-webkit-scrollbar { 
    display: none;
}

.comments-right {
    float: right;
    width: 50%;
    padding: 0 5px;
    overflow-y: scroll;
    overflow-x: scroll;
    max-height: 51em;
}

.comments-right::-webkit-scrollbar { 
    display: none;
}